$includeBase: false;
@import '../node_modules/@vivintsolar/lumen-sass/lumen-sass';
@import '../node_modules/@vivintsolar/lumen-layout/lumen-layout';
.sunrise, .sunset, .sunrise-menu {
    font-family: $font__family--sans-basic;
    .font__sans--loaded & {
      font-family: $font__family--sans;
    }
    color: $color__gray--700;
    letter-spacing: .5px;
    font-weight: 200;
    text-rendering: auto;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: inherit;
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
    * {
        &,
        &:before,
        &:after {
            box-sizing: border-box;
        }
    }
    a {
        &, &:visited, &:active {
            color: $color__gray--700;
            text-decoration: none;
            &[href^=tel] {
                text-decoration: none;
                cursor: default;
                color: inherit;
                white-space:nowrap;
                &:hover {
                    color: inherit !important;
                    border-bottom: 0;
                }
            }
        }
    }
}
.sunrise, .sunset {
    width: 100%;
    p {
        margin:0;
    }
}
.sunrise, .sunset__menus, .sunset__legal {
    @include lumen-respond('padding-left',( 
        100:lumen-gutter(200,false),  
        300:lumen-gutter(300,false), 
        400:lumen-gutter(400,false), 
        500:lumen-gutter(500,false), 
        600:lumen-gutter(600,false), 
        700:lumen-gutter(700,false)
    ));
    @include lumen-respond('padding-right',( 
        100:lumen-gutter(200,false),  
        300:lumen-gutter(300,false), 
        400:lumen-gutter(400,false), 
        500:lumen-gutter(500,false), 
        600:lumen-gutter(600,false), 
        700:lumen-gutter(700,false)
    ));
}
html {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      font-size:62.5%;
    }

body {
  margin: 0;
  font-size: $font__size--500;
  line-height: $font__line-height--500;
  text-rendering: optimizeLegibility;
}

@import '../components/sunrise/sunrise';
@import '../components/sunset/sunset';
