header.sunrise
    a.sunrise__logo(href='http://www.vivintsolar.com/')
        img(src='https://home.vivintsolar.com/img/vivint.solar.logo.svg',alt='Vivint Solar Logo')
    nav.sunrise__menu
        //- a.sunrise-menu__close(href='#') Close
        ul
            each item in menu
                li
                    if item.link
                        a(href="#{item.link}" class=(item.class ? item.class : '')) #{item.text}
                    else
                        | #{item.text}
.sunrise-placeholder