<header class="sunrise">
    <a href="http://www.vivintsolar.com/" class="sunrise__logo"><img src="https://home.vivintsolar.com/img/vivint.solar.logo.svg" alt="Vivint Solar logo"></a>
    <div class="sunrise__menu">
        <a class="sunrise__menu--trigger" href="#menu">Menu</a>
        <nav class="sunrise-menu">
            <a class="sunrise-menu__close" href="#">Close</a>
            <ul>
                <li><a href="http://www.vivintsolar.com/company#coverage">Check Availability</a></li>
                <li><a href="http://www.vivintsolar.com/how-it-works">How Solar Works</a></li>
                <li><a href="http://www.vivintsolar.com/go-solar">About Us</a></li>
                <li><a href="http://investors.vivintsolar.com/">Login</a></li>
            </ul>
        </nav>
    </div>
    <div id="sunrise__cta">
        <p class="sunrise__phone"><span class="hide-mobile">CALL&nbsp;NOW:&nbsp;</span><a href="tel:18884665531">1&#8209;888&#8209;466&#8209;5531</a></p>
    </div>
    
    <div class="sunrise-menu__overlay"></div>
    
</header>
<div class="sunrise-placeholder"></div>