.sunset {
    width: 100%;
    &__wrapper {
        font-size: $font__size--300;
        /*padding-top: $spacing--500;*/
        &[class]{
            width: 100%;
            @media (min-width: $breakpoint--700) {
                /*width: lumen-columns(12, 700);*/
                margin: 0 auto;
            }
        }
    }
    h3 {
        color: $color__gray--900;
        font-size: $font__size--500;
        margin-top: $spacing--200;
        margin-bottom: $spacing--100;
        font-weight: 500;
        font-family: $font__family--serif;
    }
    a {
        &, &:visited, &:active {
          color: $color__white;
      }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0;
        font-size: $font__size--300;
        line-height: $font__line-height--600;
        @media (min-width: $breakpoint--500) {
            line-height: $font__line-height--500;
        }
    }
    p {
        margin-bottom:0;
    }
    &__menus {
        background-color: $color__gray--500;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: $spacing--500;
        @media (max-width: $breakpoint--500) {
            &:before, &:after {
              content:'';
              margin-bottom: $spacing--400;
              min-width:150px;
              order: 100;
            }
        }
    }
    &__column {
        margin-bottom: $spacing--400;
        min-width:150px;
    }
    &__legal {
        background-color: $color__gray--700;
        color: $color__white;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding-top: $spacing--200;
        padding-bottom: $spacing--200;
        &-links {
            min-width:300px;
            align-content: center;
            display:flex;
            align-items: center;
            white-space: nowrap;
            margin: $spacing--300;

            a {
                font-size: $font__size--200;
                display: inline-block;
                margin-right: $spacing--300;
            }
        }
    }
    &__copyright {
        font-size: $font__size--100;
        width: 100%;
        
        @media (min-width: $breakpoint--500) {
            width:50%;
            min-width:500px;
        }
    }
    &__menus,
    &__legal {
      @include lumen-respond('padding-left',(
        100:$grid__gutter-width--100/2,
        200:$grid__gutter-width--200/2,
        300:$grid__gutter-width--300/2,
        400:lumen-columns(1, 400,true) + $grid__gutter-width--400/2,
        500:lumen-columns(1, 500,true) + $grid__gutter-width--500/2,
        600:lumen-columns(1, 600,true) + $grid__gutter-width--600/2,
        700:lumen-columns(2, 700,true) + $grid__gutter-width--700/2
      ));
      @include lumen-respond('padding-right',(
        100:$grid__gutter-width--100/2,
        200:$grid__gutter-width--200/2,
        300:$grid__gutter-width--300/2,
        400:lumen-columns(1, 400,true) + $grid__gutter-width--400/2,
        500:lumen-columns(1, 500,true) + $grid__gutter-width--500/2,
        600:lumen-columns(1, 600,true) + $grid__gutter-width--600/2,
        700:lumen-columns(2, 700,true) + $grid__gutter-width--700/2
      ));
    }
}