.sunset {
    background-color: $color__gray--500;
    font-size: $font__size--300;
    margin-bottom: $spacing--500;
    padding-top: $spacing--500;
    h3 {
        color: $color__gray--700;
        font-size: $font__size--500;
        margin-top: $spacing--200;
        margin-bottom: $spacing--100;
        font-weight: 500;
        font-family: $font__family--serif;
    }
    a {
        &, &:visited, &:active {
          color: $color__white;
      }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0;
        font-size: $font__size--300;
        line-height: $font__line-height--600;
        @media (min-width: $breakpoint--500) {
            line-height: $font__line-height--500;
        }
    }
    &__menus {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: $spacing--400;
    }
    &__column {
        margin-bottom: $spacing--400;
        min-width:150px;
    }
    &__legal {
        background-color: $color__gray--600;
        color: $color__white;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &-links {
            flex:1 1 auto;
        }
    }
    &__copyright {
        /*margin-top: $spacing--500;*/
        font-size: $font__size--200;
        /*color: $color__gray--600;*/
        flex:1 2 auto;
    }
    &__legal-links a {
        display: inline-block;
        margin-right: $spacing--300;
        color: $color__blue;
        /*text-decoration: underline;*/
    }
}